<h4>Users created per day</h4>
<%= line_chart charts_users_per_day_path %>

<h4>Enrollments created per day</h4>
<%= column_chart charts_enrollments_per_day_path %>

<h4>Enroll</h4>
<%= bar_chart charts_course_popularity_path %>