<h2>Privacy Policy</h2>

<p>This is the Privacy & Cookies Policy (the ‘Policy’) of HTML.com (hereafter ‘HTML.com’, ‘we’ or ‘us’). This Policy describes the ways in which HTML.com collects and uses information about you when you use our website at HTML.com (the “Website”).

HTML.com may change this Policy at any time in which case we shall notify you of any changes to this Policy by noting this on the Website. The changes will apply to your use of the Website after we have given notice. If you do not wish to accept the new Policy you should not continue to use the Website. If you continue to use the Website after the date on which the change comes into effect, your use of the Website indicates your agreement to be bound by the new Policy.



Read more: https://html.com/privacy/#ixzz71eE8dGbM</p>