Tags

<% @tags.each do |tag| %>
  <div class="row">
    <div class="div">
      <%= tag.name %>
      <%= tag.course_tags_count %>
      <%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>