<p id="notice"><%= notice %></p>

<h1>Courses</h1>
<div class="row pt-2">
  <% @courses.each do |course| %>
    <div class="col-sm-4 pt-4">
      <%= render 'course', course: course %>
    </div>
  <% end %>
</div>