/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "./actiontext.scss";
 @import "selectize/dist/css/selectize";
 @import "selectize/dist/css/selectize.default";

 body { 
   background-color: #2a4054 !important;
   color: #ebedf0 !important;;
 }

 .navbar {
  background-color: #02313E !important;
 }

 footer {
  background-color: #02313E !important;
 }

 .card, .jumbotron, .list-group-item {
   color: #2a4054 !important
 }

 .form-control.is-invalid{ background-image: none; }
 .form-control.is-valid{ background-image: none; }

 .jumbotron { 
  padding: 50px; /* fills out the jumbotron */
  background-color: #E9ECEF;
 }

 .ui-state-highlight {
   height: 3em;
   line-height: 1.2em;
   background-color: yellow;
 }

 .form-control-file {
   display: block;
   padding-top: 5px;
 }
 
 trix-editor.form-control {
   height: auto;
 }